.item{
    width: 90%;
}

.item img{
    width: 100%;
}

.item p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-prices-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-prices-old{
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}



@media(max-width:800px){
    .item p{
        font-size: 10px;
    }
    .item-prices{
        font-size: 10px;
    }
    .item-prices-old{
        font-size: 10px;
    }
}

@media(max-width:700px){
    .item img{
        width: 250px;
    }
    .item p{
        font-size: 10px;
    }
    .item-prices{
        font-size: 10px;
    }
    .item-prices-old{
        font-size: 10px;
    }
}

@media(max-width:600px){
    .item img{
        width: 200px;
    }
    .item p{
        font-size: 10px;
    }
    .item-prices{
        font-size: 10px;
    }
    .item-prices-old{
        font-size: 10px;
    }
}

@media(max-width:400px){
    .item img{
        width: 200px;
    }
    .item p{
        font-size: 10px;
    }
    .item-prices{
        font-size: 10px;
    }
    .item-prices-old{
        font-size: 10px;
    }
}
